**/*.py[cod]
**/*~
**/*.swp
**/*.pkl
**/*.txt
**/*.csv
**/*.tsv
**/log/
**/lt_records/
**/checkpoint/
**/slurm_job_tool/skynet_jobs/*
**/slurm_job_tool/*.out
**/*.bin
**/*.pkl
**/*.zip
**/*.gz
pytorch_coherence/InferSent/results/
**/.ipynb_checkpoints/
**/fastText-0.1.0/
**/*.vec
**/wsj_NER/
**/wsj_NER_results/
**/cnn_coherence-master/
**/brown_coherence/
**/NER_v2.ipynb
**/core
**/reranking/
**/runs/
**/results/
*.out
data/*
checkpoint/*
